{{ page.super_header }}
<header class="lex-site-header" role="banner">
  <nav class="usa-site-navbar lex-site-navbar">
    <div class="usa-grid-full lex-grid-full">
      <div class="logo" id="logo">
        <a href="/" accesskey="1" title="Home" aria-label="Home">
          <div class="lex-logo"></div>
        </a>
      </div>
      <div class="lex-site-navbar-secondary">
        {{  page.navbar_secondary }}
      </div>
      {{  page.search_header }}
    </div>
  </nav>
  <div class="lex-slab lex-slab-blue-alpha">
    <div class="lex-grid-full usa-grid-full">
      {% if is_front %}
          {{ page.featured_top }}
      {% else %}
        {# used by full-bleed langing page #}
        <div class="usa-width-one-half">
          {{ page.featured_top }}
        </div>
        <div class="usa-width-one-half">
          {{ page.featured_second }}
        </div>
      {% endif %}
    </div>
  </div>
</header>
