{% block hero_start %}
    {% if hero %}
    <div class="lex-hero">
      <img class="w-100" src="{{ hero }}" alt="{{ hero_alt }}">
      <div class="hero-text">{{heading}}</div>
    {% else %}
      {{ drupal_view('headers', '{{ block }}') }}
    {% endif %}
  {% endblock %}
  {% block page_hero_body %}
    {# <div class="{{ is_front ? 'welcome-block' : 'search-block hide'}}">
      {% if is_front %}
          <h1>Welcome to the Horse Capital of the World<sup>&reg;</sup>
          </h1>
          <p>The best place to find city services and information for Lexington, KY</p>
      {% endif %}
      {{ page.hero }}
    </div>
    {% if not is_front %}
      <div class="search-fade"></div>
    {% endif %} #}

  {% endblock %}
</div>
