{#
  required:
    start_date_time: plain formatted date
    end_date_time
    title
    title_tag

  optional
    field_hide_times
    title_class
#}

{% set begin = {
    date:      (start_date_time | date('y-m-d')),
    day:       (start_date_time | date('d')),
    month:     (start_date_time | date('M')),
    full_time: (start_date_time | date('g:i a')),
  }
%}
{% set end = {
    date:      (end_date_time | date('y-m-d')),
    day:       (end_date_time | date('d')),
    month:     (end_date_time | date('M')),
    full_time: (end_date_time | date('g:i a')),
  }
%}

<div class="lex-eventcard-stackeddate lex-stackeddate">
  <div class="lex-stackeddate-month">
     {{ begin.month }}
    <div class="lex-card-subtitle">{{ begin.day }}</div>
  </div>
</div>
<div class="lex-eventcard-titlesection">
  <{{ title_tag }} class="{{ title_class }}">{{ title }}</{{ title_tag }}>
  <div class="lex-card-subtitle">
    {% set separator = '' %}

    {% if begin.date != end.date %}
      {% set separator = ' | ' %}
      {{begin.month}} {{begin.day}} – {{ end.month }} {{ end.day }}
    {% endif %}

    {% if field_hide_times != 'On' %}
      {{ separator }}{% include "@lex/includes/timespan.html.twig" with { begin: begin.full_time, end: end.full_time } %}
    {% endif %}
  </div>
</div>

