<!-- BEGIN OUTPUT from 'themes/custom/lex/templates/node.html.twig' -->
<article{{ attributes }}>
  {% block article %}
    {% block article_header %}
      {{ title_prefix }}
      {% if not page %}
        <h2{{ title_attributes }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
      {% endif %}
      {# {{ title_suffix }} #}
    {% endblock %}
    {% block article_sub_header %}
    <div class="row article-row">
      <div class="col-6 article-info">
        <div class="col-12">
          <time>{{ lexDate(node.getCreatedTime()) }}</time>
        </div>
        <div class="col-12 byline-contact">
          By {{node.field_media_contact[0].entity.field_contact_name.value}}
        </div>
      </div>
      <div class="col-6 article-share">
        <div class="col-12">
          <span class="share-header">
            share
          </span>
        </div>
        <div class="col-12">
          {{ drupal_block('addtoany_block') }}
        </div>
      </div>
    </div>
    {% if display_submitted %}
      <div>
        {{ author_picture }}
        <div{{ author_attributes }}>
          {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
          {{ metadata }}
        </div>
      </dib>
    {% endif %}
    {% endblock %}
    <div{{ content_attributes }}>
      {{ content | without('field_lex_custom_banner_image', 'field_lex_site_nav')  }}
    </div>
  {% endblock %}
</article>
