<div class="container-fluid lexid-container" style="display: flex; flex-wrap: wrap;">    
    {% for item in items %}
        <div class="grid-photo">
            <div class="case-card">
                <a href="/node/{{ item.content['#paragraph'].field_lexid_reference.target_id }}">
                    <img class="card-img"
                        {% if file_url(item.content['#paragraph'].field_card_photo.entity.uri.value) != '/' %}src="{{ file_url(item.content['#paragraph'].field_card_photo.entity.uri.value)}}"
                        {% else %}src="{{ file_url(item.content['#paragraph'].field_lexid_reference.entity.field_photo_grid.entity.field_grid_photo[0].entity.uri.value) }}"{% endif %}>
                    <h4 class="card-title">{{ item.content['#paragraph'].field_case_title.value }}</h4>
                    <p class="card-subtitle">{{item.content['#paragraph'].field_case_subtitle.value}}</p>
                </a>
            </div>
        </div>
    {% endfor %}
</div>

