<article{{attributes}}>
	{% block article %}
		{% block article_header %}
			{{ title_prefix }}
			{% if not page %}
				<h2{{ title_attributes }}>
					<a href="{{ url }}" rel="bookmark">{{ label }}</a>
				</h2>
			{% endif %}
			{{ title_suffix }}
		{% endblock %}
		{% block article_sub_header %}
			<div class="row article-row">
				<div class="col-12 col-sm-6 article-info">
					<div class="col-12">
						<time>{{ lexDate(node.getCreatedTime()) }}</time>
					</div>
					<div class="col-12 byline-contact">
						{% if node.field_media_contact[0].entity.field_contact_name.value != [] %}
							By
							{{node.field_media_contact[0].entity.field_contact_name.value}}
						{% endif %}
					</div>
				</div>
				<div class="col-12 col-sm-6 article-share">
					<div class="share-header">Share</div>
					{{ drupal_block('addtoany_block') }}
				</div>
			</div>
			{% if display_submitted %}
				<div>
					{{ author_picture }}
					<div{{author_attributes}}>
						{% trans %}Submitted by
						{{ author_name }}
						on
						{{ date }}{% endtrans %}
						{{ metadata }}
					</div>
				</dib>
			{% endif %}
		{% endblock %}
		<img class="mb-4 w-100" src="{{file_url(node.field_image[0].entity.uri.value)}}">

		<div{{ content_attributes }}>
			{{ content | without('field_lex_custom_banner_image', 'field_lex_site_nav')  }}
		</div>
	{% endblock %}
</article>

