{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}

{{ menus.secondary_menu_links(items, attributes) }}
{{ menus.menu_links(items, attributes) }}


{% macro secondary_menu_links(items, attributes) %}
  {% import _self as menus %}
  {% if items %}
    {% for item in items %}
      {% if item.in_active_trail and item.below %}
        <div id="section" class="">
          <div class="pane-inner">
            <h1 class="lex-card-title lex-card-title-heading">{{ item.title }}</h1>
            <div>
              {% include '@lex/includes/sort-a-to-z.twig' %}
              <ul class="usa-unstyled-list">
                {% for item in item.below %}
                  {% set current = (item.in_active_trail ? 'active' : '') %}
                  <li class="{{ current }}">
                    <a href="{{ item.url }}">
                      <h3 class="lex-card-title lex-card-title-medium">{{ item.title }}</h3>
                      <p class="lex-browsenav-description lex-card-subtitle">{{ item.url_title }}</p>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro menu_links(items, attributes, active_subcat) %}
  {% import _self as menus %}
  {% if items %}
    <div id="root" class="pane">
      <ul class="usa-unstyled-list">
        {% for item in items %}
          {% set current = (item.in_active_trail ? 'active' : '') %}
          <li class="{{ current }}">
            {{ link(item.title, item.url, item.attributes.addClass('lex-card-title lex-card-title-medium')) }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}
