{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}

{% set active_subcat = false %}
{% for item in items %}
  {% if item.in_active_trail and item.below %}
    {% set active_subcat = false %}
    {% for item in item.below %}
      {% if item.in_active_trail %}
        {% set active_subcat = true %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

{{ menus.menu_links(items, attributes, active_subcat) }}
{{ menus.secondary_menu_links(items, attributes, active_subcat) }}


{% macro secondary_menu_links(items, attributes, active_subcat) %}
  {% import _self as menus %}
  {% if items %}
    {% for item in items %}
      {% if item.in_active_trail and item.below %}

        {% if active_subcat %}
          {% set active = 'usa-width-one-fourth lex-browsenav-column-activetrail lex-browsenav-nofocus' %}
        {% else %}
          {% set standout = 'lex-font-standout' %}
        {% endif %}

        <div class="lex-browsenav-column {{ active }} lex-browsenav-secondary">
          <h2 class="{{ standout }} lex-card-title lex-card-title-heading">{{ item.title }}</h2>
          <ul class="usa-sidenav-list lex-browsenav-list">
            {% for item in item.below %}
              {% set current = (item.in_active_trail ? 'usa-current lex-current' : '') %}
              <li class="lex-browsenav-category {{current}}">
                <a href="{{ item.url }}" {{ item.attributes.addClass('lex-browsenav-link lex-browsenav-link-withdescription')  }}>
                  <h3 class="lex-browsenav-title lex-card-title-medium">{{ item.title }}</h3>
                  <p class="lex-browsenav-description lex-card-subtitle">{{ item.url_title }}</p>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro menu_links(items, attributes, active_subcat) %}
  {% import _self as menus %}
  {% if items %}
    {% if active_subcat %}
      {% set classes = 'usa-width-one-fourth lex-browsenav-collapse lex-browsenav-nofocus' %}
    {% else %}
      {% set classes = 'usa-width-one-fourth' %}
    {% endif %}
    <div class="{{ classes }} lex-browsenav-root lex-browsenav-column lex-browsenav-column-activetrail">
      <ul class="usa-sidenav-list lex-browsenav-list">
        {% for item in items %}
          {% set current = (item.in_active_trail ? 'usa-current lex-current' : '') %}
          <li class="lex-browsenav-category {{current}}">
            <h3 class="lex-card-title-medium lex-browsenav-title"
              >{{ link(item.title, item.url, item.attributes.addClass('lex-browsenav-link').addClass(current)) }}</h3>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}
