{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html


{{ kint(_context|keys) }}
{{ kint(menu_name) }}
{{ kint(items) }}
{{ kint(attributes) }}
{{ kint(theme_hook_suggestion) }}
{{ kint(theme_hook_suggestions) }}
{{ kint(menus) }}
#}

{{ menus.menu_links(items, attributes, 0) }}
{{ menus.menu_links_2(items, attributes, 0) }}


{% macro menu_links_2(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% for item in items %}
      {% if item.in_active_trail and item.below %}

        {% set focus = '' %}
        {% for item in item.below %}
          {% set focus = (item.in_active_trail ? 'lex-browsenav-column-activetrail' : 'lex-browsenav-column-focus') %}
        {% endfor %}
        <div class="usa-width-one-third lex-browsenav-column {{ focus }} lex-browsenav-secondary">
          <h2 class="lex-browsenav-column_title">{{ item.title }}</h2>
          <ul class="usa-sidenav-list lex-browsenav-list">
            {% for item in item.below %}
              {% set current = (item.in_active_trail ? 'usa-current lex-current' : '') %}
              <li>
                <h3 class="lex-browsenav-link">{{ link(item.title, item.url, item.attributes.addClass(current)) }}</h3>
                <p class="lex-browsenav-description">Description</p>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <div class="usa-width-one-third lex-browsenav-column lex-browsenav-column-activetrail">
      <ul class="usa-sidenav-list lex-browsenav-list">
        {% for item in items %}
          <li>
            {% set current = (item.in_active_trail ? 'usa-current lex-current' : '') %}
            <h3 class="lex-browsenav-link">{{ link(item.title, item.url, item.attributes.addClass(current)) }}</h3>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}
