{#
/**
 * @file
 * Root Page Layout schema.  Other page layouts, such as the homepage, extend
 * from this base and override the blocks seen here.

 * - content_attributes (added by City of Lexington)
 * - attributes.layout_class (added by City of Lexington for fullbleed layout)
 *
 * NOTE: Region names are sometimes misleading for backwards compatibility
 * reasons. See the info.yml of the theme to see what machine name links to
 * which admin displayed theme.
 */
#}
{% if page.notices %}
  {% block page_notices %}
  <div id="top-alert">
    {{ page.notices }}
  </div>
  {% endblock %}
{% endif %}
{% block page_header %}
<header role="banner">
  <a id="logo" href="/" accesskey="1" title="Home" aria-label="Home">City of Lexington, Kentucky, The Horse Capital of the World&reg;</a>
  {% block page_header_nav %}
    {{ page.sitemast }}
  {% endblock %}
</header>
{% endblock %}

{% block page_hero %}
  {% if (node.field_lex_custom_banner_image.entity.fileuri) %}
    {% set hero = file_url(node.field_lex_custom_banner_image.entity.fileuri) %}
    {% set hero_alt = node.field_lex_custom_banner_image.alt %}
  {% else %}
    {% set hero = "/themes/custom/lex/img/lexington-hero-interior.jpg" %}
    {% set hero_alt = 'Image of Thoroughbred Park with race horse statues charging towards the viewer.' %}
  {% endif %}
  <div class="lex-hero" style="background-image: url({{ hero }})">
    <img src="{{ hero }}" alt="{{ hero_alt }}">
    {% block page_hero_body %}
    <div>
      {{ page.hero }}
    </div>
    {% endblock %}
  </div>
{% endblock %}
{% block page_breadcrumb %}
{{ page.breadcrumb }}
{% endblock %}

{% block page_main %}
<a id="main-content" name="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
<main role="main">
  <div>
  {% block content %}
    {{ page.content }}
  {% endblock %}
  </div>
  {% if page.sidebar %}
  <div>
  {% block sidebar %}
    {{ page.sidebar }}
  {% endblock %}
  </div>
  {% endif %}
</main>
{% endblock %}

{% block page_feedback %}
  {{ page.feedback }}
{% endblock %}

<footer>
{% block page_footer %}

{% endblock %}
</footer>

<footer>
  {{ page.footer }}
</footer>
