{#
{% set title_attributes = title_attributes.addClass('lex-section-heading', 'lex-heading') %}
{% block drupal_block %}
{% include "@stable/block/block.html.twig" %}
{% endblock %}
#}
<div{{ attributes.addClass('sub-padding') }}>
  {% block title_prefix %}
  {{ title_prefix }}
  {% endblock %}
  {% block title %}
    <h2{{ title_attributes }}>You may also like...</h2>
  {% endblock %}
  {% block title_suffix %}
  {{ title_suffix }}
  {% endblock %}
  {% block content %}
    {{ content }}
    <div class="more-link lex-button">
      <a href="/news">
          More News
      </a>
    </div>
  {% endblock %}
</div>
