{% extends 'page.html.twig' %}
{% block page_title_main %}
  <h1>Final Order #{{ node.field_pva_num.value }}</h1>
{% endblock %}
{% block sidebar %}

{% endblock %}
{% block content %}
<dl>
  <div>
    <dt>Final order date</dt>
    <dd>{{ node.field_final_order_date.value }}</dd>
  </div>
  <div>
    <dt>Property owner</dt>
    <dd>{{ node.field_person_charged.value }}</dd>
  </div>
  <div>
    <dt>Address of violation</dt>
    <dd>{{ node.field_address.value }}</dd>
  </div>
  <div>
    <dt>Last known mailing address of owner</dt>
    <dd>{{ node.field_owners_address.value }}</dd>
  </div>
  <div>
    <dt>Documentation</dt>
    <dd><a href="{{ file_url(node.field_final_order_docs.entity.fileuri)}}">PDF</a></dd>
  </div>
</dl>
<div class="final-order">
  <iframe src="{{ file_url(node.field_final_order_docs.entity.fileuri)}}"></iframe>
</div>
{% endblock %}
