{% extends 'page.html.twig' %}
{% set content_attributes = content_attributes.addClass('lex-events-view-page') %}

{% block content %}
  {{ page.content }}
{% endblock %}
{% block sidebar %}
  <div>
    <h4>Cost</h4>
    <p>{{ node.field_cost.value }}</p>
    {% if (node.field_event_website.value|length > 0) %}
    <h4>Event Website{% if (node.field_event_website.value|length > 1) %}s{% endif %}</h4>
    {% if (node.field_event_website.value|length == 1) %}
      <a href="{{node.field_event_website.value[0].uri}}">{{node.field_event_website.value[0].title}}</a>
    {% else %}
    <ul>
      {% for website in node.field_event_website.value %}
        <li><a href="{{website.uri}}">{{website.title}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endif %}
    {% if (node.field_media_contact.value|length > 0) %}
    <h4>Event contact</h4>
    {{ lexRender(node.field_media_contact) }}
    {% endif %}
    <div class="no-hours">
    {{ lexRender(node.field_locations) }}
    </div>
  </div>
{% endblock %}
