<h3{{ title_attributes }}>
<span class="opened-icon"><img src="/themes/custom/lex/img/CloseSymbol.svg" class="accordion-icon"></span>
<span class="closed-icon"><img src="/themes/custom/lex/img/PlusSymbol.svg" class="accordion-icon"></span>
<a id="{{ id }}" href="#{{ id }}">{{ title }}</a></h3>
<div{{ content_attributes }}>{{ content }}</div>