<h3{{ title_attributes }}>
<span class="opened-icon"><i class="fas fa-times"></i></span>
<span class="closed-icon"><i class="fas fa-plus"></i></span>
<a id="{{ id }}" href="#{{ id }}">{{ title }}</a></h3>
<div{{ content_attributes }}>{{ content }}</div>