{{ attach_library('addtocal/global-styling') }}




<button name="btn" value="addtocal" type="button" class="toggle_1">Add to Calendar </button>
<div class="socialbtn">

<a href="{{ path('addtocal.controller', {'nid': nid, 'cal': 'ical','body': declab, 'add':loclab}) }}">iCalendar</a>
<a href="{{ path('addtocal.controller', {'nid': nid, 'cal': 'outl','body': declab, 'add':loclab}) }}">Outlook</a>
<a href="https://calendar.google.com/calendar/render?action=TEMPLATE&text={{node_title}}&dates={{both_date}}&location={{location}}&details={{description}}#eventpage_6"  target="_blank">Google</a>
<a href="https://calendar.yahoo.com/?v=60&TITLE={{node_title}}&ST={{both_date}}&DUR={{duration}}&URL=localhost&in_loc={{location}}&desc={{description}}" target="_blank">Yahoo</a>
